*{
    padding: 0;
    margin: 0;
    border: 0;
}

.week{
    width: 1200px;
    height: 100vh;
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-evenly;
}

.day-date{
    width: 172px;
    /* display: flex; */
    justify-content: center;
    /* border: 2px black solid; */
}

.day{
    display: flex;
    justify-content: center;
}

.date{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: 500;
}

.event{
    padding: 5px 3px;
    width: 100%;
    /* border: 1px brown solid; */
    height: 60px;
    background-color: aquamarine;
    border-radius: 10px;
    
}

.time{
    display: flex;
}

.event-name{
    font-size: larger;
    font-weight: 500;
}